<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet"/>
</head>
<body style="padding-top: 10px;background-color: #00DBDE;
background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
">
<div class="flex justify-center">
    <a th:href="@{/people}">
        <button type="button"
                class="text-gray-900 bg-gradient-to-r from-red-200 via-red-300 to-yellow-200 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 my-6">
            Show People
        </button>
    </a>
</div>

<form th:method="GET" th:action="@{/book/search}" class="max-w-md mx-auto">
    <div class="flex relative z-0 w-full mb-5 group">
        <input name="query" type="text"
               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
               placeholder="Search"/>

        <button type="submit"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Submit
        </button>
    </div>
</form>

<p style="color: black" class="font-medium text-center" th:if="${books.isEmpty()}">Books Not Found</p>

<table th:if="${!books.isEmpty()}" style="margin: auto;" class="w-fit text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
        <th scope="col" class="px-6 py-3">
            Name
        </th>
        <th scope="col" class="px-6 py-3">
            Author
        </th>
        <th scope="col" class="px-6 py-3">
            Year
        </th>
        <th scope="col" class="px-6 py-3">
            Belongs
        </th>
    </tr>
    </thead>
    <tbody th:each="book: ${books}">
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <td class="px-6 py-4">
            <a th:text="${book.getName()}" th:href="@{/book/{id}(id=${book.getId()})}">
                Name
            </a>
        </td>
        <td th:text="${book.getAuthor()}" class="px-6 py-4">
            Author
        </td>
        <td th:text="${book.getYear()}" class="px-6 py-4">
            Year
        </td>
        <td th:if="${book.getOwner() != null}" th:text="${book.getOwner().getFullName()}" class="px-6 py-4">
            Belongs
        </td>
        <td th:if="${book.getOwner() == null}" class="px-6 py-4">
            Available
        </td>
    </tr>
    </tbody>
</table>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
</body>
</html>